---
title: Recipes
image_view: true
layout: recipe
---
<h1>Recipes</h1>

{% if page.image_view %}
	<form id="recipePageForm" class="recipe__form">
		<select class="recipe__form-item" id="recipePageSelect">
			<option value="all">Show all</option>
			{% for category in site.categories %}
				<option value={{category[0]}}>{{ category[0] }}</option>
			{% endfor %}
		<select>
		<input class="recipe__form-item recipe__form-item--input" id="recipePageSubmit" type="submit" value="Go" />
	</form>

	{% for category in site.categories %}
		<h2 id="{{ category[0] }}">{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				<div class="recipe" style="background-image: url('{{ recipe.featured_image }}')">
					<a href="{{ site.baseurl }}{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
